
.authPage{
    position: absolute;
    top: 10%;
    left: 20%;
    height: 60%;
    width: 70%;
    background-color: #7FFFD4;
    border-radius: 2%;
    h1{
        text-align: center;
        padding-top: 2rem;
    }
    h5{
        display: inline;
        padding-left: 5%;
    }
    a{
        margin-left: 1rem;
        font-size: larger;
    }
    .authInfo{
        margin-top: 2%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        form{
            width: 50%;
        }
        img{
            display: inline;
            height: 200px;
            width: 300px;
            object-fit: cover;
        }
    }
  

}